[Unit]
Description=Your plugin
Before=docker.service
After=network.target
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'journalctl -fu docker | grep --line-buffered "path does not exist" | while read x; do mkdir -p $(echo $x | grep -oP "(\/[\w-]+)+" | head -1); done'

[Install]
WantedBy=multi-user.target
