# docker stack deploy -c traefik.yml traefik

services:
  traefik:
    image: traefik:${VERSION:-v3.6.4}
    command:
      - --log.level=${LOGLEVEL:-ERROR}
      - --core.defaultRuleSyntax=v2
      - --providers.swarm
      - --providers.swarm.network=traefik-net
      - --providers.swarm.exposedByDefault=false
      - --providers.swarm.endpoint=unix:///var/run/docker.sock
      - --providers.file.directory=/config
      - --entrypoints.https.proxyProtocol.trustedIPs=${TRUSTED_IPS:-127.0.0.1}
      - --entrypoints.https.forwardedHeaders.trustedIPs=${TRUSTED_IPS:-127.0.0.1}
      - --entrypoints.https.http.encodedCharacters.allowEncodedQuestionMark=true
      - --entrypoints.https.http.encodedCharacters.allowEncodedSlash=true
      - --entrypoints.https.http.middlewares=${MIDDLEWARES}
      - --entrypoints.https.address=:443
      - --entrypoints.http.address=:80
      - --entrypoints.http.proxyProtocol.trustedIPs=${TRUSTED_IPS:-127.0.0.1}
      - --entrypoints.http.forwardedHeaders.trustedIPs=${TRUSTED_IPS:-127.0.0.1}
      - --entrypoints.http.http.redirections.entryPoint.to=https
      - --entrypoints.http.http.redirections.entryPoint.scheme=https
      - --entrypoints.http.http.redirections.entrypoint.permanent=true
      - --certificatesresolvers.letsencrypt.acme.tlschallenge=true
      - --certificatesresolvers.letsencrypt.acme.email=${ACME_EMAIL:-admin@example.com}
      - --certificatesresolvers.letsencrypt.acme.storage=/config/acme.json
      - --experimental.plugins.my-plugin.moduleName=${PLUGIN}
      - --experimental.plugins.my-plugin.version=${PLUGIN_VERSION:-latest}
      - --accesslog.filepath=${ACCESSLOG_PATH:-/var/log/traefik/access.log}
      - --accesslog=${ACCESSLOG:-false}
    volumes:
      - /var/log:/var/log
      - ${VOLUME_PATH}config:/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - {target: 80, published: 80, mode: host, protocol: tcp}
      - {target: 443, published: 443, mode: host, protocol: tcp}
    deploy:
      mode: ${MODE:-replicated}

volumes:
  config:

networks:
  default:
    external: true
    name: traefik-net
